
.logo {
    position: absolute;
    max-height: 144px;
    max-width: 144px;
    left: -30px;
    top: -50px;
}

.logo_name {
    position: relative;
    padding-left: 33px;
    font-size: 23px;
    font-weight: 500;
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .logo_wrap {
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
    }
}

/*X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}