h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    color: #081F32;
}

h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #081F32;
}

h4 {
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #1B75BB;
    opacity: 80%;
}

h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #081F32;
}

p {
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #081F32;
    opacity: 0.6;
}

a {
    text-decoration: none !important;
}

.global_bt {
    height: 54px;
    width: 134px;
    border-radius: 5px;
    background-color: #1B75BB;
    color: #fff;
    border: none;
}

.global_bt:hover {
    background-color: transparent;
    color: #1B75BB;
    border: 1px solid #1B75BB;
    transition: ease-in-out, 1s;
}

.global_bt a {
    color: #fff;
}


.App {
    /*font-family: Roboto, sans-serif;*/
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    background: url("/src/app/pictures/headers/bg_header.png") no-repeat;
}


/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .App {
        background-position: right top;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}











