a {
    text-decoration: none !important;
}

.global_bt {
    height: 54px;
    width: 134px;
    border-radius: 5px;
    background-color: #1B75BB;
    color: #fff;
    border: none;
}

.global_bt a {
    color: #fff;
}

.App {
    /*font-family: Roboto, sans-serif;*/
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.first_screen {
    background: url("/src/app/bg_header.png") no-repeat 100% 100%;
    background-size: cover;

}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
